name: build

on:
  workflow_dispatch:

jobs:

  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        arch: [ "rpi5_64" ]

    env:
      ARCH: ${{ matrix.arch }}

    steps:
      - run: |
          echo "ARCH=$ARCH"
          git clone --recurse-submodules https://gitlab.com/recalbox/recalbox.git "recalbox-${ARCH}"
          cd "recalbox-${ARCH}"
          sed --in-place --expression="s/ -ti / /g" ./scripts/linux/recaldocker.sh
          ./scripts/linux/recaldocker.sh
