name: build

on:
  workflow_call:
    inputs:
      tag:
        required: true
        type: string
      arch:
        required: true
        type: string
      release:
        type: boolean
        default: true
  workflow_dispatch:
    inputs:
      tag:
        description: 'Tag'
        default: '10.0-patron-5'
        required: true
        type: string
      arch:
        description: 'Architecture'
        default: 'rpi5_64'
        required: true
        type: string
      release:
        description: "Release"
        type: boolean
        default: false

jobs:
  init:
    uses: ./.github/workflows/init.yml
    secrets: inherit
    with:
      tag: ${{ inputs.tag }}
      arch: ${{ inputs.arch }}
  make:
    concurrency:
      group: lock-build-${{ inputs.arch }}-${{ github.run_id }}
    name: make${{ matrix.id }}
    strategy:
      fail-fast: true
      max-parallel: 1
      matrix:
        id: [1, 2, 3, 4, 5, 6]
    needs: init
    uses: ./.github/workflows/make.yml
    secrets: inherit
    with:
      tag: ${{ inputs.tag }}
      arch: ${{ inputs.arch }}
      release: ${{ inputs.release }}
  status:
    if: needs.make.outputs.status != 'success'
    runs-on: ubuntu-slim
    needs: make
    steps:
    - run: false
