name: build

on:
  workflow_dispatch:
    inputs:
      tag:
        description: 'Tag'
        default: '10.0-patron-4'
        required: true
        type: string
      arch:
        description: 'Architecture'
        default: 'rpi5_64'
        required: true
        type: string
      build_extra_args:
        description: "Build extra args"
        type: string
        default: ""

jobs:
  init:
    uses: ./.github/workflows/init.yml
    with:
      tag: ${{ inputs.tag }}
      arch: ${{ inputs.arch }}
  nibble1:
    needs: init
    uses: ./.github/workflows/nibble.yml
    secrets: inherit
    with:
      tag: ${{ inputs.tag }}
      arch: ${{ inputs.arch }}
      build_extra_args: ${{ inputs.build_extra_args }}
  nibble2:
    needs: nibble1
    if: needs.nibble1.outputs.status == 'continue'
    uses: ./.github/workflows/nibble.yml
    secrets: inherit
    with:
      tag: ${{ inputs.tag }}
      arch: ${{ inputs.arch }}
      build_extra_args: ${{ inputs.build_extra_args }}
  nibble3:
    needs: nibble2
    if: needs.nibble2.outputs.status == 'continue'
    uses: ./.github/workflows/nibble.yml
    secrets: inherit
    with:
      tag: ${{ inputs.tag }}
      arch: ${{ inputs.arch }}
      build_extra_args: ${{ inputs.build_extra_args }}
  nibble4:
    needs: nibble3
    if: needs.nibble3.outputs.status == 'continue'
    uses: ./.github/workflows/nibble.yml
    secrets: inherit
    with:
      tag: ${{ inputs.tag }}
      arch: ${{ inputs.arch }}
      build_extra_args: ${{ inputs.build_extra_args }}
  nibble5:
    needs: nibble4
    if: needs.nibble4.outputs.status == 'continue'
    uses: ./.github/workflows/nibble.yml
    secrets: inherit
    with:
      tag: ${{ inputs.tag }}
      arch: ${{ inputs.arch }}
      build_extra_args: ${{ inputs.build_extra_args }}
  nibble6:
    needs: nibble5
    if: needs.nibble5.outputs.status == 'continue'
    uses: ./.github/workflows/nibble.yml
    secrets: inherit
    with:
      tag: ${{ inputs.tag }}
      arch: ${{ inputs.arch }}
      build_extra_args: ${{ inputs.build_extra_args }}
