name: build

on:
  workflow_dispatch:
    inputs:
      tag:
        description: 'Tag'
        default: '10.0-patron-4'
        required: true
        type: string
      arch:
        description: 'Architecture'
        default: 'rpi5_64'
        required: true
        type: string
      build_extra_args:
        description: "Build extra args"
        type: string
        default: ""
      dl_upload_on:
        description: "Upload DL"
        type: boolean
        default: true

jobs:
  init:
    uses: ./.github/workflows/init.yml
    with:
      tag: ${{ inputs.tag }}
      arch: ${{ inputs.arch }}
  nibble1:
    needs: init
    uses: ./.github/workflows/nibble.yml
    secrets: inherit
    with:
      tag: ${{ inputs.tag }}
      arch: ${{ inputs.arch }}
      build_extra_args: ${{ inputs.build_extra_args }}
      dl_upload_on: ${{ inputs.dl_upload_on }}
  upload_dl_nibble1:
    if: inputs.dl_upload_on
    needs: nibble1
    uses: ./.github/workflows/upload_dl.yml
    secrets: inherit
    with:
      dl_upload_on: ${{ inputs.dl_upload_on }}
  nibble2:
    needs: nibble1
    if: needs.nibble1.outputs.status == 'continue'
    uses: ./.github/workflows/nibble.yml
    secrets: inherit
    with:
      tag: ${{ inputs.tag }}
      arch: ${{ inputs.arch }}
      build_extra_args: ${{ inputs.build_extra_args }}
      dl_upload_on: ${{ inputs.dl_upload_on }}
  upload_dl_nibble2:
    if: inputs.dl_upload_on
    needs: [nibble2, upload_dl_nibble1]
    uses: ./.github/workflows/upload_dl.yml
    secrets: inherit
    with:
      dl_upload_on: ${{ inputs.dl_upload_on }}
  nibble3:
    needs: nibble2
    if: needs.nibble2.outputs.status == 'continue'
    uses: ./.github/workflows/nibble.yml
    secrets: inherit
    with:
      tag: ${{ inputs.tag }}
      arch: ${{ inputs.arch }}
      build_extra_args: ${{ inputs.build_extra_args }}
      dl_upload_on: ${{ inputs.dl_upload_on }}
  upload_dl_nibble3:
    if: inputs.dl_upload_on
    needs: [nibble3, upload_dl_nibble2]
    uses: ./.github/workflows/upload_dl.yml
    secrets: inherit
    with:
      dl_upload_on: ${{ inputs.dl_upload_on }}
  nibble4:
    needs: nibble3
    if: needs.nibble3.outputs.status == 'continue'
    uses: ./.github/workflows/nibble.yml
    secrets: inherit
    with:
      tag: ${{ inputs.tag }}
      arch: ${{ inputs.arch }}
      build_extra_args: ${{ inputs.build_extra_args }}
      dl_upload_on: ${{ inputs.dl_upload_on }}
  upload_dl_nibble4:
    if: inputs.dl_upload_on
    needs: [nibble4, upload_dl_nibble3]
    uses: ./.github/workflows/upload_dl.yml
    secrets: inherit
    with:
      dl_upload_on: ${{ inputs.dl_upload_on }}
  nibble5:
    needs: nibble4
    if: needs.nibble4.outputs.status == 'continue'
    uses: ./.github/workflows/nibble.yml
    secrets: inherit
    with:
      tag: ${{ inputs.tag }}
      arch: ${{ inputs.arch }}
      build_extra_args: ${{ inputs.build_extra_args }}
      dl_upload_on: ${{ inputs.dl_upload_on }}
  upload_dl_nibble5:
    if: inputs.dl_upload_on
    needs: [nibble5, upload_dl_nibble4]
    uses: ./.github/workflows/upload_dl.yml
    secrets: inherit
    with:
      dl_upload_on: ${{ inputs.dl_upload_on }}
  nibble6:
    needs: nibble5
    if: needs.nibble5.outputs.status == 'continue'
    uses: ./.github/workflows/nibble.yml
    secrets: inherit
    with:
      tag: ${{ inputs.tag }}
      arch: ${{ inputs.arch }}
      build_extra_args: ${{ inputs.build_extra_args }}
      dl_upload_on: ${{ inputs.dl_upload_on }}
  upload_dl_nibble6:
    if: inputs.dl_upload_on
    needs: [nibble6, upload_dl_nibble5]
    uses: ./.github/workflows/upload_dl.yml
    secrets: inherit
    with:
      dl_upload_on: ${{ inputs.dl_upload_on }}
