name: build

on:
  workflow_call:
    inputs:
      tag:
        required: true
        type: string
      arch:
        required: true
        type: string
      release:
        type: boolean
        default: true
  workflow_dispatch:
    inputs:
      tag:
        description: 'Tag'
        default: '10.0-patron-5'
        required: true
        type: string
      arch:
        description: 'Architecture'
        default: 'rpi5_64'
        required: true
        type: string
      release:
        description: "Release"
        type: boolean
        default: false

jobs:
  init:
    uses: ./.github/workflows/init.yml
    secrets: inherit
    with:
      tag: ${{ inputs.tag }}
      arch: ${{ inputs.arch }}
  make1:
    needs: init
    uses: ./.github/workflows/make.yml
    secrets: inherit
    with:
      tag: ${{ inputs.tag }}
      arch: ${{ inputs.arch }}
      release: ${{ inputs.release }}
  make2:
    needs: make1
    if: needs.make1.outputs.status == 'continue'
    uses: ./.github/workflows/make.yml
    secrets: inherit
    with:
      tag: ${{ inputs.tag }}
      arch: ${{ inputs.arch }}
      release: ${{ inputs.release }}
  make3:
    needs: make2
    if: needs.make2.outputs.status == 'continue'
    uses: ./.github/workflows/make.yml
    secrets: inherit
    with:
      tag: ${{ inputs.tag }}
      arch: ${{ inputs.arch }}
      release: ${{ inputs.release }}
  make4:
    needs: make3
    if: needs.make3.outputs.status == 'continue'
    uses: ./.github/workflows/make.yml
    secrets: inherit
    with:
      tag: ${{ inputs.tag }}
      arch: ${{ inputs.arch }}
      release: ${{ inputs.release }}
  make5:
    needs: make4
    if: needs.make4.outputs.status == 'continue'
    uses: ./.github/workflows/make.yml
    secrets: inherit
    with:
      tag: ${{ inputs.tag }}
      arch: ${{ inputs.arch }}
      release: ${{ inputs.release }}
  make6:
    needs: make5
    if: needs.make5.outputs.status == 'continue'
    uses: ./.github/workflows/make.yml
    secrets: inherit
    with:
      tag: ${{ inputs.tag }}
      arch: ${{ inputs.arch }}
      release: ${{ inputs.release }}
