name: sandbox

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - run: |
        set -x +e
        readonly dev=$(findmnt --noheadings --output SOURCE /mnt/)
        fuser -vm /mnt/
        umount -vvv --force /mnt/
