name: upload_dl

on:
  workflow_call:
    inputs:
      dl_artifact_name:
        required: true
        type: string

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: actions/download-artifact@v5
      with:
        name: ${{ inputs.dl_artifact_name }}
    - run: |
        gpg --decrypt --batch --passphrase="${{ secrets.DL_UPLOAD_GPG_PASSPHRASE }}" --output=bin/dl-upload bin/dl-upload.gpg
        chmod +x bin/dl-upload
        cd dl/
        find . -maxdepth 2 -type f -exec sh -c "wget --spider '${{ secrets.BR2_BACKUP_SITE }}/{}' || '${{ github.workspace }}/bin/dl-upload' upload '{}'" \;
